# Chapter 3: Data Manipulation with Pandas

Pandas is a package built on top of NumPy that provides efficient implementation of a `DataFrame`: milti-dimensional arrays with row and column labels, and often with heterogenous types and/or missing data.

In [15]:
import numpy as np
import pandas as pd
pd.__version__

'1.4.1'

## Introducting Pandas Objects

### The Pandas Series Object

A Pandas `Series` is a one-dimensional array of indexed data.

In [16]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [17]:
# Access the `values` and `index` attributes
data.values, data.index

(array([0.25, 0.5 , 0.75, 1.  ]), RangeIndex(start=0, stop=4, step=1))

In [18]:
# Access values by position
data[1], data[1:3]

(0.5,
 1    0.50
 2    0.75
 dtype: float64)

The key difference between a Pandas `Series` and a 1-d NumPy array is that the former has an *explicitly defined* index, as opposed to implicitly defined.

In [19]:
# Use strings as an index
data = pd.Series([0.25, 0.5, 0.75, 1.0], index = ['a', 'b', 'c', 'd'])
data, data['b']

(a    0.25
 b    0.50
 c    0.75
 d    1.00
 dtype: float64,
 0.5)

In [20]:
# Noncontiguous or nonsequential indices
data = pd.Series([0.25, 0.5, 0.75, 1.0], index = [2, 5, 3, 7])
data, data[5]

(2    0.25
 5    0.50
 3    0.75
 7    1.00
 dtype: float64,
 0.5)

In this way, the `Series` is a bit like a Python dictionary, that maps keys to values. The difference is that the keys and values must be typed.

In [22]:
# Construct a Series from a dictionary
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population, population['California']

(California    38332521
 Texas         26448193
 New York      19651127
 Florida       19552860
 Illinois      12882135
 dtype: int64,
 38332521)

In [26]:
# Unlike a dictionary, we can use array-style operations
# Note that, in the text, the keys were automatically sorted alphabetically
population['California':'New York']

California    38332521
Texas         26448193
New York      19651127
dtype: int64

In [27]:
# A single value will fill the given indices
pd.Series(5, index = [100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [28]:
# Unlike the text, this newer version of Pandas does not automatically sort dictionary keys
pd.Series({2: 'a', 1: 'b', 3: 'c'})

2    a
1    b
3    c
dtype: object

In [29]:
# Explicitly setting the index can return specific values
pd.Series({2: 'a', 1: 'b', 3: 'c'}, index = [3, 2])

3    c
2    a
dtype: object

### The Pandas DataFrame Object

A Pandas `DataFrame` can be thought of as a two-dimensional array with flexible row indicies and column names, or as a sequence of aligned `Series` objects.

In [31]:
# First, create a Series from a dictionary
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [33]:
# Now create a single two-dimensional DataFrame from two Series
states = pd.DataFrame({'population': population, 'area': area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [34]:
# Column and index attributes
states.index, states.columns

(Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object'),
 Index(['population', 'area'], dtype='object'))

In [35]:
# We can access a Series object like we would a dictionary
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [36]:
# A single column DataFrame from a Series
pd.DataFrame(population, columns = ['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [38]:
# From a list of dictionaries
data = [{'a': i, 'b': 2 * i} for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [39]:
# If some keys are missing, Pandas will fill them with NaN
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [40]:
# From a two-dimensional NumPy array
pd.DataFrame(np.random.rand(3, 2), columns = ['foo', 'bar'], index = ['a', 'b', 'c'])

        foo       bar
a  0.343428  0.916239
b  0.099089  0.238774
c  0.427762  0.271313

In [45]:
# From astructured NumPy array
A = np.zeros(3, dtype = [('A', 'i8'), ('B', 'f8')])
A, pd.DataFrame(A)

(array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')]),
    A    B
 0  0  0.0
 1  0  0.0
 2  0  0.0)

### The Pandas Index Object

The Pandas `Index` object can be thought of as an *ummutable array* or as an *ordered set*.

In [46]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [47]:
# Access elements like an array
ind[1], ind[::2]

(3, Int64Index([2, 5, 11], dtype='int64'))

In [48]:
# Attributes
ind.size, ind.shape, ind.ndim, ind.dtype

(5, (5,), 1, dtype('int64'))

In [49]:
# Index objects are immutable, so they cannot be modified by normal means
ind[1] = 0

TypeError: Index does not support mutable operations

The Pandas `Index` objects follows many of the conventions used by the built-in `set` data structure.

In [50]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])
# intersection
indA & indB

C:\Users\tdunn\AppData\Local\Temp\ipykernel_12224\2322778381.py:4: FutureWarning: Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead.
  indA & indB

Int64Index([3, 5, 7], dtype='int64')

The deprecation warning tells us to use `index.intersection()` instead (likewise for unions and symmetric differences):

In [51]:
indA.intersection(indB)

Int64Index([3, 5, 7], dtype='int64')

In [52]:
indA.union(indB)

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [54]:
indA.symmetric_difference(indB)

Int64Index([1, 2, 9, 11], dtype='int64')

## Data Indexing and Selection

### Data Selection in Series

### Data Selection in DataFrame

## Operating on Data in Pandas

### Ufuncs: Index Preservation

### Ufuncs: Index Alignment

### Ufuncs: Operations Between DataFrame and Series

## Handling Missing Data

### Trade-Offs in Missing Data Conventions

### Missing Data in Pandas

### Operating on Null Values

## Hierarchical Indexing

### A Multiply Indexed Series

### Methods of MultiIndex Creation

### Indexing and Slicing a MultiIndex

### Rearranging Multi-Indices

### Data Aggregation on Mutli-Indices